html, body, .viewport {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;

    overflow-y: hidden;
}

a {
    cursor: pointer;
}
a:focus, a:hover{
    text-decoration: none!important;
    outline: none;
    outline-offset: 0px;

}

a:focus {
    color: #666;
}

.row{
    margin:0 !important;
    width:100% !important;
}

.col*{
    margin:0 !important;
}


.btn {
    color: white;
    padding: 10px 32px;
    background-color: #00b3e6;
    border: 0px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'ProximaNovaSBold', sans-serif;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.btn:hover {
    opacity: .7;
    color: white;
}


.container-fluid{
    padding-left:0 !important;
    padding-right:0 !important;
}

.app-container{
    width:inherit;
}

.app-sidebar, .app-main{
    display:block;
    top:0px;
    position:absolute;
    height:100%;
    padding-left:0 !important;
    padding-right:0 !important;
}

.app-sidebar{
    position:absolute;
    top:0px;
    left:0px;
    display:block;
    width:250px;
    min-width:250px !important;
    height:100%;
}

.app-main{
    display:block;
    width:100%;
    padding-left:250px !important;
    min-width:1150px !important;
}

.sidebar-logo{
    position:absolute;
    top:0px;
    display:block;
    height:100px;
    width:inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
}

.logo-container{
    width:180px;
    display:flex;
}

.sidebar-logo img{
    object-fit: contain;
    width:100%;
    height:100%;
}

.sidebar-menu{
    position:absolute;
    top:120px;
    left:0px;
    display:block;
    z-index:10000;
    width: 100%;
}

.sidebar-copyright{
    position:absolute;
    width:100%;
    font-size:12px;
    text-align:center;
    bottom:20px;
    z-index:1000;
}

.sidebar-copyright a{
    margin-left:-5px;
    z-index:10000;
}

.app-header{
    position:relative;
    top: 0px;
    display:block;
    height:80px;
    width:inherit;
}

.app-header .text-container{
    height:100%;
    display: flex;
    align-items: center;
}

.app-header .maintext{
    font-size:18px;
    margin-left:40px;
    color:white;
}

.app-header .subtext{
    font-size:14px;
    margin-left:40px;
    color:white;
}

.need-help {
    color: #fff;
    position: absolute;
    padding: 2px 4px;
    top: 6px;
    right: 20px;
    cursor:pointer;
}
.header-more-info-button {
    background-color: #fff;
    color: #666;
    position: absolute;
    top: 32px;
    right: 20px;
    border: 0px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'ProximaNovaSBold', sans-serif;
    padding: 10px 15px 8px;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.header-more-info-button:hover {
    opacity: .85;
    color: #666;
}

.app-body{
    position:relative;
    top:0px;
    left:0px;
    display:block;
    height:100%;
    overflow-y:auto;
}

.app-body .container{
    padding:50px;
    padding-top:80px;
}

.hidden{
    display:none;
}

label {
    font-weight: 400!important;
}
.small-label{
    font-size:80%;
}

.step2, #embeddedTemplatesContainer{
    width:100%;
    height:100%;
}

.menu-btn {
    color: #666;
}

.menu-btn:hover{
    color: #666!important;
}




.sidebar-menu ul{
    list-style: none;
    color:#666;
    padding-left: 0px;
}

.menu2-section {
    padding: 10px 0 8px;
}

.sidebar-title {
    font-size:13px;
    font-family: 'ProximaNovaSBold', sans-serif;
    margin-left: 30px;
    text-transform: uppercase;
}

.sidebar-link {
    font-size:14px;
    cursor: pointer;
    padding: 4px 40px 4px 45px;
}

.sidebar-li {
    padding: 5px 0;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
.sidebar-li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

/* use this styling for a new class that is applied to the active link on the page ".current-menu-btn"*/
.menu3 li.active {
    background-color: rgba(0, 0, 0, 0.03);
    border-left: solid 6px #666;
    padding: 8px 0 8px;
}



.formTitle{
    font-size:24px;
    font-family: 'ProximaNovaLight', sans-serif;
}

.successBox{
    margin:0 auto;
    margin-top:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:70%;
    height:300px;
    text-align:center;
    background: #fcfcfc;
    border-radius: 4px;
}

.successBox img{
    height:100px;
    width:auto;
    margin:0 auto 40px auto;
}

.successBox .text{
    font-size:20px;
    color: #666;
    margin:0 auto;
}

.middle{
    display:block;
    margin:0 auto;
    float:unset !important;
    width:400px;
}

.tab-header{
    cursor:pointer;
    height:50px;
    background: #e2e3e7;
    margin:0;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #bcbcbc;
    z-index:10;
    font-family: 'ProximaNovaSBold', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.active-tab{
    background:white;
    color: #1a1a1a;
}

.tab-body{
    display:block;
    position:relative;
    padding-top: 40px;
    padding-left: 40px;
}


.tab-body-title{
    margin-bottom: 18px;
    margin-top: 40px;
    font-size: 24px;
    padding-left:15px;
    font-family: 'ProximaNovaLight', sans-serif;
}

.tab-body-title.custom-templates {
    margin-top: 0px;
}

.tab-body .row{
    margin-left:0;
    margin-bottom:15px !important;
}

.template-file-text {
    margin-top: 8px;
}
.tab-body .labels{
    margin-bottom:20px;
    font-family: 'ProximaNovaSBold', sans-serif;
}
.tab-label-row {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}


.tab-body .cta{
    width:200px;
}



/* Override bootstrap */
.modal-content {
    box-shadow: 0px 0px 10px rgba(195, 195, 195, 0.3)!important;
    border: none!important;
}
/* override bootstrap to account for close button padding */
.modal-body {
    padding-top: 10px !important;
    padding-bottom: 0px!important;
}

/* !important to override app.css*/
.modal-content .row {
    margin-bottom: 10px!important;
}

.modal-content input,
.modal-content textarea  {
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    border: solid 1.5px #dedede;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: border-color 0.2s ease-out;
    -moz-transition: border-color 0.2s ease-out;
    -o-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
}
.modal-content input:focus,
.modal-content textarea:focus {
    border-color: #00b3e6;
    outline: 0!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}


/* override bootstrap modal dialoge css */
.modal-dialog {
    padding-top: 20px;
}

/* overrise bootstrap */
button.close {
    padding: 0 10px;
}
button.close:active {
    outline: none!important;
}
button.close:focus {
    outline: none!important;
}
.close {
    font-size: 40px;
}

#signersModal{
    z-index:100000;
    background-color: rgba(61, 61, 61, .8);
}

#signersModal .main .title{
    font-size: 26px;
    margin-top: -15px;
}

.signer label {
    margin-top: 7px;
}


.status-main{

}

.status-container{
    min-height:300px;
    display:inline-block;
    margin-left:40px;
    margin-right:0;
    margin-top:50px;
    width:550px;
    padding:30px;
    padding-top:20px;
    border-radius:3px;
    background:white;
    box-shadow: 0px 0px 10px rgba(195, 195, 195, 0.3)
}

.status-container .status-header{
    font-family: 'ProximaNovaSBold', sans-serif;
    font-size:16px;
}

.status .created{
    padding-left:0;
    font-family: 'ProximaNovaSBold', sans-serif;
    text-align:center
}

.status .created .top{
    font-size:14px;
    margin-bottom:0;
}

.status .created .bottom{
    margin-top:-7px;
    font-size:22px;
}

.status .info{
    padding-left:0;
}

.status .info .top{
    font-family: 'ProximaNovaSBold', sans-serif;
    font-size:14px;
}

.status .info .bottom{
    font-size:14px;
    color:dimgray;
}

.status .status-code{
    text-align:right;
    padding-right:0;
}
.status .status-code{
    padding-right:0;
}

.addRole{
    cursor:pointer;
    border:dashed 2px #dedede;
    height:45px;
    border-radius:4px;
    padding: 6px 12px;
    color:#999;
    margin-top:10px;
    cursor:pointer;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    -webkit-transition: border 0.2s ease-out;
    -moz-transition: border 0.2s ease-out;
    -o-transition: border 0.2s ease-out;
    transition: border 0.2s ease-out;
}

.addRole:hover{
    border:dashed 2px #00b3e6;
    color: #888;
}

.addRole .icon{
    font-size:13px;
    margin-right:7px;
}

/* plus symbol */
.fa-stack-1x {
    font-size: .8em;
}

.addRole .text{
    font-size:14px;
    position:relative;
    top:2px;
}

.removeRole{
    cursor:pointer;
    position: absolute;
    top: 9px;
    right: -40px;
    padding: 6px 12px;
    font-size: 16px;
    z-index:20;
    color: #999;
}

.attention{
    border:solid 1px red !important;
}


/* completed section  */
.btn.btn-default.cta.middle {
    padding: 16px 15px 15px!important;
    margin-top: 30px;
}

.need-help-dropdown{
    height:140px;
    width:280px;
    position:absolute;
    z-index:1000000;
    top: 30px;
    background: white;
    padding: 30px;
    color: #999;
    right: 18px;
    transition:all 0.5s ease;
}

.need-help-dropdown:after {
    content:"";
    position: absolute;
    right: 41px;
    top: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 17px 17px;
    border-color: transparent transparent #ffffff transparent;
    z-index:99998;
    transition:all 0.5s ease;
}

.hidden-dropdown{
    height:0;
    display:none;
}

.need-help-dropdown > div{
    margin-bottom:10px;
}

.merge-fields{
    margin-top:50px;
    margin-left:40px;
}

.merge-fields .text{
    font-size:18px;
}

.merge-fields .people{
    background:white;
    width:610px;
    padding-top:10px;
    padding-bottom:10px;
}

.merge-fields .people .interim, #mergeFieldsModal .interim{
    margin-top:15px;
    padding-left:20px;
    padding-right:20px;
    background: #f9f9f9;
    padding-top:5px;
    padding-bottom:5px;
}

.merge-fields .people h5, .merge-fields .people h4{
    padding-left:20px !important;
    padding-right:20px !important;
}

.merge-fields .people .contacts{
    padding-left:20px !important;
}

.merge-fields .contact, #mergeFieldsModal .contact{
    margin-top:10px;
    margin-bottom:10px;
}

.merge-fields .contacts .contact{
    display:inline-block;
    margin-right:20px;
}

.merge-fields .contacts .contact .portrait, #mergeFieldsModal .contact .portrait{
    border-radius:50%;
    background:lightgray;
    height:90px;
    width:90px;
    margin-bottom:10px;
}

.merge-fields .contacts .contact .name{
    text-align:center;
    font-size:16px;
}

#mergeFieldsModal{
    padding-bottom:20px;
}

#mergeFieldsModal .contact{
  padding-left:40px;
}

#mergeFieldsModal, #mergeFieldsModal .modal-body, #mergeFieldsModal .modal-content{
    padding:0;
}

#mergeFieldsModal .mergeFields input{
    width:80% !important;
}

#mergeFieldsModal .mergeFields label{
    position:relative;
    top:8px;
}