::-moz-selection {
    background: white;
}

::selection { background: white; }

@-webkit-keyframes
icon-beat {  0% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes
icon-beat {  0% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

input[type=checkbox]{
    all:initial;
}

.checkbox {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* override bootstrap */
    margin-top: 0px;
}

/*override forms.less*/
.form-group {
    margin-top: 20px;
}

.checkbox label {
    display: block;
    position: relative;
    padding: 0.5rem 1rem;
    line-height: 28px;
    font-weight: normal;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.checkbox label:last-of-type { margin-right: 1rem; }

.checkbox label i {
    display: inline-block;
    height: 25px;
    position: relative;
    top: 4px;
    font-style: normal;
    color: #00b3e6;
}

.checkbox label span {
    display: inline-block;
    margin-left: 2px;
    line-height: 25px;
    color: #1a1a1a;
}

input[type="radio"],
input[type="checkbox"] { display: none; }

input[type="radio"] + i:before,
input[type="checkbox"] + i:before {
    font-family: 'FontAwesome';
    font-size: 22px;
    height: 21px;
    width: 21px;
    display: inline-block;
}

input[type="radio"]:checked + i,
input[type="checkbox"]:checked + i {
    position: relative;
    -webkit-animation: icon-beat 0.2s ease-out;
    animation: icon-beat 0.2s ease-out;
}

input[type="radio"]:checked + i + span,
input[type="checkbox"]:checked + i + span {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

input[type="radio"] + i:before { content: "\f10c"; }

input[type="radio"]:checked + i:before { content: "\f111"; }

input[type="radio"]:checked + i + span,
input[type="radio"]:checked + i:before { opacity: .7; }

input[type="checkbox"] + i:before { content: "\f096"; }

input[type="checkbox"]:checked + i:before { content: "\f046"; }

input[type="checkbox"]:checked + i + span,
input[type="checkbox"]:checked + i:before { opacity: .7; }